*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --Green_400: hsl(180, 29%, 50%);
  --Green_50: hsl(180, 52%, 96%);
  --Gray_400: hsl(180, 8%, 52%);
  --Green_900: hsl(180, 14%, 20%);
}

body {
  font-size: 1.6rem;
  font-family: "League Spartan", sans-serif;
  color: #333;
  height: 100vh;
  background-color: var(--Green_50);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  background-image: url("/images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Gray_400);
  height: 10rem;
  min-height: auto;
}

.static-job-container {
  background-color: white;
  width: 100%;
  max-width: 1100px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgba(91, 164, 164, 0.1),
    0 4px 6px -4px rgba(91, 164, 164, 0.1);
  /* border-left: 3px solid var(--Green_400); */
  border-left: 5px solid transparent;
  transition: transform 0.2s ease;
  border-radius: 0.4rem;
}

.static-job-container.featured-border {
  border-left: 5px solid var(--Green_400);
}

.static-job-image {
  width: 60px;
  height: 60px;
}

.static-job-items {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.static-job-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.static-job-paragraphe {
  display: flex;
  gap: 2rem;
}

.static-job-buttons {
  display: flex;
  gap: 1rem;
}
.photosnap {
  background-color: 0;
  border: none;
  outline: none;
  color: var(--Green_400);
  font-weight: 700;
}

.para-new {
  background-color: var(--Green_400);
  padding: 0.4rem 0.8rem;
  border-radius: 3rem;
  color: white;
}

.par-feature {
  background-color: var(--Green_900);
  padding: 0.4rem 0.8rem;
  border-radius: 3rem;
  color: white;
}

.job-text {
  color: var(--Green_900);
  font-weight: 700;
}

.static-job-paragraphe p {
  color: var(--Gray_400);
}

.bouttons-class {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.divider {
  border: 1px solid var(--Gray_400);
  width: 90%;
  height: 0.1rem;
  display: none;
}

.bouttons-class button {
  border: 0;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
  font-weight: 700;
  background-color: var(--Green_50);
  color: var(--Green_400);
  cursor: pointer;
}

/* Filter */

.filter-bar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: calc(100% - 2rem);
  max-width: 1100px;
  margin: -3rem auto 2rem auto;
  padding: 2rem;
  border-radius: 1rem;
}

.active-filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.active-filter-item {
  display: flex;
  align-items: center;
}

.active-filter-item p {
  background-color: var(--Green_50);
  padding: 0.8rem;
  font-weight: 700;
  color: var(--Green_400);
  border-radius: 0.5rem 0 0rem 0.5rem;
}

.active-filter-item .btn-delete {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.8rem;
  background-color: var(--Green_900);
}

.active-filter-item .btn-delete i {
  color: white;
  font-size: 1.5rem;
  box-sizing: border-box;
  font-weight: 700;
}

.btn-clear {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--Green_400);
  font-weight: 700;
  cursor: pointer;
  transition: color 0.2s ease;
}

.btn-clear:hover {
  color: var(--Green_900);
  text-decoration: underline;
}

.hidden {
  display: none;
}

.static-full-buttons {
  max-width: 100%;
}

@media screen and (max-width: 500px) {
  .static-job-contents {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
  }
  .static-job-container {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .static-job-items {
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
  }

  .static-job-image {
    margin-top: -4rem;
  }

  .static-full-buttons {
    flex-wrap: wrap;
  }

  .divider {
    display: block;
  }

  .static-job-elements {
    font-size: 2rem;
    gap: 2rem;
  }
}
